Repository duckduckgo/privacy-configuration, changes with the owners that CODEOWNERS names for each.
All owners: @bwaresiak, @SlayterDev, @jonathanKingston, @englehardt, @joshliebe, @aitorvs, @GioSensation, @muodov, @sammacbeth, @dharb, @kzar, @ladamski, @jdorweiler, @GuiltyDolphin, @alistairjcbrown, @marcosholgado, @q71114, @szanto90balazs

migrate file
  migrate.js
  package-lock.json
  package.json
Owners: @bwaresiak, @SlayterDev

Generated features
  features/amp-links.json
  features/app-tracker-protection.json
  features/autoconsent.json
  features/autofill.json
  features/click-to-load.json
  features/click-to-play.json
  features/cookie.json
  features/custom-user-agent.json
  features/duck-player.json
  features/element-hiding.json
  features/exception-handler.json
  features/fingerprinting-battery.json
  features/fingerprinting-canvas.json
  features/fingerprinting-hardware.json
  features/fingerprinting-screen-size.json
  features/fingerprinting-temporary-storage.json
  features/google-rejected.json
  features/gpc.json
  features/incontext-signup.json
  features/navigator-interface.json
  features/referrer.json
  features/request-filterer.json
  features/runtime-checks.json
  features/serviceworker-initiated-requests.json
  features/tracker-allowlist.json
  features/tracking-cookies-1p.json
  features/tracking-cookies-3p.json
  features/tracking-parameters.json
  features/web-compat.json
  features/windows-permission-usage.json
  features/windows-waitlist.json
  patch_directory/feature_patches.json
Owners: @SlayterDev, @joshliebe, @aitorvs, @muodov, @sammacbeth, @GioSensation, @kzar, @ladamski, @jonathanKingston, @dharb, @englehardt, @alistairjcbrown, @jdorweiler, @GuiltyDolphin

Add gen file changes
  index.js
Owners: @bwaresiak, @SlayterDev

Delete overrides and add eme
  features/eme.json
  overrides/android-override.json
  overrides/browsers/brave-override.json
  overrides/browsers/bravemv3-override.json
  overrides/browsers/chrome-override.json
  overrides/browsers/chromemv3-override.json
  overrides/browsers/edg-override.json
  overrides/browsers/edge-override.json
  overrides/browsers/edgmv3-override.json
  overrides/browsers/firefox-override.json
  overrides/browsers/safarimv3-override.json
  overrides/extension-override.json
  overrides/ios-override.json
  overrides/macos-override.json
  overrides/windows-override.json
Owners: @kzar, @sammacbeth

Fix up lint
  index.js
  migrate.js
  patch_directory/feature_patches.json
Owners: @bwaresiak, @SlayterDev

Re-run migrate
  features/amp-links.json
  features/app-tracker-protection.json
  features/autoconsent.json
  features/autofill.json
  features/click-to-load.json
  features/click-to-play.json
  features/cookie.json
  features/custom-user-agent.json
  features/duck-player.json
  features/element-hiding.json
  features/eme.json
  features/exception-handler.json
  features/fingerprinting-battery.json
  features/fingerprinting-canvas.json
  features/fingerprinting-hardware.json
  features/fingerprinting-screen-size.json
  features/fingerprinting-temporary-storage.json
  features/google-rejected.json
  features/gpc.json
  features/incontext-signup.json
  features/navigator-interface.json
  features/non-tracking-3p-cookies.json
  features/referrer.json
  features/runtime-checks.json
  features/serviceworker-initiated-requests.json
  features/tracking-cookies-1p.json
  features/tracking-cookies-3p.json
  features/tracking-parameters.json
  features/user-agent-rotation.json
  features/web-compat.json
  features/windows-permission-usage.json
  features/windows-waitlist.json
  migrate.js
Owners: @SlayterDev, @joshliebe, @aitorvs, @muodov, @sammacbeth, @GioSensation, @kzar, @ladamski, @jonathanKingston, @dharb, @englehardt, @alistairjcbrown

Merge base extension
  features/amp-links.json
  features/app-tracker-protection.json
  features/autoconsent.json
  features/autofill.json
  features/click-to-load.json
  features/click-to-play.json
  features/cookie.json
  features/custom-user-agent.json
  features/duck-player.json
  features/element-hiding.json
  features/eme.json
  features/exception-handler.json
  features/fingerprinting-battery.json
  features/fingerprinting-canvas.json
  features/fingerprinting-hardware.json
  features/fingerprinting-screen-size.json
  features/fingerprinting-temporary-storage.json
  features/google-rejected.json
  features/gpc.json
  features/incontext-signup.json
  features/navigator-interface.json
  features/non-tracking-3p-cookies.json
  features/referrer.json
  features/runtime-checks.json
  features/serviceworker-initiated-requests.json
  features/tracking-cookies-1p.json
  features/tracking-cookies-3p.json
  features/tracking-parameters.json
  features/user-agent-rotation.json
  features/web-compat.json
  features/windows-permission-usage.json
  features/windows-waitlist.json
  index.js
  migrate.js
Owners: @SlayterDev, @joshliebe, @aitorvs, @muodov, @sammacbeth, @GioSensation, @kzar, @ladamski, @jonathanKingston, @dharb, @englehardt, @alistairjcbrown, @bwaresiak

CODEOWNERS:

# AoR owners
scripts/ @bwaresiak @SlayterDev
.github/ @bwaresiak @SlayterDev
tests/ @bwaresiak @SlayterDev
index.js @bwaresiak @SlayterDev
platforms.js @bwaresiak @SlayterDev
util.js @bwaresiak @SlayterDev
package.json @bwaresiak @SlayterDev
package-lock.json @bwaresiak @SlayterDev

# Feature owners
features/ad-click-attribution.json @jonathanKingston @englehardt
features/amp-links.json @SlayterDev @joshliebe
features/app-tracker-protection.json @aitorvs
features/autofill.json @GioSensation
features/autoconsent.json @muodov @sammacbeth
features/fingerprinting-* @jonathanKingston @englehardt
features/element-hiding.json @jonathanKingston @dharb
features/click-to-load.json @kzar @ladamski
features/click-to-play.json @kzar @ladamski
features/tracker-allowlist.json @jdorweiler @dharb @GuiltyDolphin
features/incontext-signup.json @alistairjcbrown

# Platform owners
overrides/browsers/ @kzar @sammacbeth
overrides/android-override.js @marcosholgado @joshliebe
overrides/extension-override.js @kzar @sammacbeth
overrides/ios-override.js @bwaresiak
overrides/macos-override.js @bwaresiak
overrides/windows-override.js @q71114 @szanto90balazs
