Repository duckduckgo/privacy-configuration, changes with the owners that CODEOWNERS names for each.
All owners: @duckduckgo/config-aor, @duckduckgo/breakage-aor, @duckduckgo/breakage, @duckduckgo/content-scope-scripts-owners, @englehardt, @joshliebe, @aitorvs, @GioSensation, @muodov, @sammacbeth, @jonathanKingston, @dharb, @kzar, @ladamski, @alistairjcbrown, @marcosholgado, @duckduckgo/apple-devs, @q71114, @szanto90balazs

CODEOWNERS:

# Config AoR & Breakage owners
* @duckduckgo/config-aor @duckduckgo/breakage-aor

# Breakage triage and Content Scope Scripts AoR owners
features/ @duckduckgo/config-aor @duckduckgo/breakage-aor @duckduckgo/breakage @duckduckgo/content-scope-scripts-owners
overrides/ @duckduckgo/config-aor @duckduckgo/breakage-aor @duckduckgo/breakage @duckduckgo/content-scope-scripts-owners

# Feature owners
features/ad-click-attribution.json @duckduckgo/config-aor @englehardt @duckduckgo/breakage-aor @duckduckgo/breakage @duckduckgo/content-scope-scripts-owners
features/amp-links.json @duckduckgo/config-aor @joshliebe @duckduckgo/breakage-aor @duckduckgo/breakage @duckduckgo/content-scope-scripts-owners
features/app-tracker-protection.json @duckduckgo/config-aor @aitorvs @duckduckgo/breakage-aor @duckduckgo/breakage @duckduckgo/content-scope-scripts-owners
features/autofill.json @duckduckgo/config-aor @GioSensation @duckduckgo/breakage-aor @duckduckgo/breakage @duckduckgo/content-scope-scripts-owners
features/autoconsent.json @duckduckgo/config-aor @muodov @sammacbeth @duckduckgo/breakage-aor @duckduckgo/breakage @duckduckgo/content-scope-scripts-owners
features/fingerprinting-* @duckduckgo/config-aor @englehardt @duckduckgo/breakage-aor @duckduckgo/breakage @duckduckgo/content-scope-scripts-owners
features/element-hiding.json @duckduckgo/config-aor @jonathanKingston @dharb @duckduckgo/breakage-aor @duckduckgo/breakage @duckduckgo/content-scope-scripts-owners
features/click-to-load.json @duckduckgo/config-aor @kzar @ladamski @duckduckgo/breakage-aor @duckduckgo/breakage @duckduckgo/content-scope-scripts-owners
features/click-to-play.json @duckduckgo/config-aor @kzar @ladamski @duckduckgo/breakage-aor @duckduckgo/breakage @duckduckgo/content-scope-scripts-owners
features/tracker-allowlist.json @duckduckgo/config-aor @duckduckgo/breakage-aor @duckduckgo/breakage @duckduckgo/content-scope-scripts-owners
features/incontext-signup.json @duckduckgo/config-aor @alistairjcbrown @duckduckgo/breakage-aor @duckduckgo/breakage @duckduckgo/content-scope-scripts-owners

# Platform owners
overrides/browsers/ @duckduckgo/config-aor @kzar @duckduckgo/breakage-aor @duckduckgo/breakage @duckduckgo/content-scope-scripts-owners
overrides/android-override.json @duckduckgo/config-aor @marcosholgado @joshliebe @aitorvs @duckduckgo/breakage-aor @duckduckgo/breakage @duckduckgo/content-scope-scripts-owners
overrides/extension-override.json @duckduckgo/config-aor @kzar @duckduckgo/breakage-aor @duckduckgo/breakage @duckduckgo/content-scope-scripts-owners
overrides/ios-override.json @duckduckgo/config-aor @duckduckgo/apple-devs @duckduckgo/breakage-aor @duckduckgo/breakage @duckduckgo/content-scope-scripts-owners
overrides/macos-override.json @duckduckgo/config-aor @duckduckgo/apple-devs @duckduckgo/breakage-aor @duckduckgo/breakage @duckduckgo/content-scope-scripts-owners
overrides/windows-override.json @duckduckgo/config-aor @q71114 @szanto90balazs @duckduckgo/breakage-aor @duckduckgo/breakage @duckduckgo/content-scope-scripts-owners

we don't want automatic exceptions
  features/sslcertificates.json
  overrides/android-override.json
  overrides/macos-override.json
Owners: @duckduckgo/config-aor, @duckduckgo/breakage-aor, @duckduckgo/breakage, @duckduckgo/content-scope-scripts-owners, @marcosholgado, @joshliebe, @aitorvs, @duckduckgo/apple-devs

this is part of the template
  features/sslcertificates.json
Owners: @duckduckgo/config-aor, @duckduckgo/breakage-aor, @duckduckgo/breakage, @duckduckgo/content-scope-scripts-owners

this should be part of features
  overrides/android-override.json
Owners: @duckduckgo/config-aor, @marcosholgado, @joshliebe, @aitorvs, @duckduckgo/breakage-aor, @duckduckgo/breakage, @duckduckgo/content-scope-scripts-owners

not needed
  features/sslcertificates.json
Owners: @duckduckgo/config-aor, @duckduckgo/breakage-aor, @duckduckgo/breakage, @duckduckgo/content-scope-scripts-owners

filename
  features/ssl-certificates.json
Owners: @duckduckgo/config-aor, @duckduckgo/breakage-aor, @duckduckgo/breakage, @duckduckgo/content-scope-scripts-owners

add to unprotected exceptions
  index.js
Owners: @duckduckgo/config-aor, @duckduckgo/breakage-aor
