Repository duckduckgo/privacy-configuration, changes with the owners that CODEOWNERS names for each.
All owners: @duckduckgo/config-aor, @duckduckgo/breakage-aor, @duckduckgo/breakage, @duckduckgo/content-scope-scripts-owners, @daxtheduck, @englehardt, @joshliebe, @aitorvs, @nshuba, @GioSensation, @muodov, @sammacbeth, @jonathanKingston, @dharb, @kzar, @ladamski, @alistairjcbrown, @duckduckgo/extension-owners, @duckduckgo/android-devs, @duckduckgo/apple-devs, @duckduckgo/team-windows-development

CODEOWNERS:

# Config AoR & Breakage owners
* @duckduckgo/config-aor @duckduckgo/breakage-aor @duckduckgo/breakage

index.js @duckduckgo/config-aor @duckduckgo/breakage-aor @duckduckgo/breakage @duckduckgo/content-scope-scripts-owners

# Breakage triage and Content Scope Scripts AoR owners
schema/features/ @duckduckgo/config-aor @duckduckgo/breakage-aor @duckduckgo/breakage @duckduckgo/content-scope-scripts-owners
features/ @daxtheduck @duckduckgo/config-aor @duckduckgo/breakage-aor @duckduckgo/breakage @duckduckgo/content-scope-scripts-owners
overrides/ @daxtheduck @duckduckgo/config-aor @duckduckgo/breakage-aor @duckduckgo/breakage @duckduckgo/content-scope-scripts-owners

# Feature owners
features/ad-click-attribution.json @daxtheduck @duckduckgo/config-aor @englehardt @duckduckgo/breakage-aor @duckduckgo/breakage @duckduckgo/content-scope-scripts-owners
features/amp-links.json @daxtheduck @duckduckgo/config-aor @joshliebe @duckduckgo/breakage-aor @duckduckgo/breakage @duckduckgo/content-scope-scripts-owners
features/app-tracker-protection.json @daxtheduck @duckduckgo/config-aor @aitorvs @nshuba @duckduckgo/breakage-aor @duckduckgo/breakage @duckduckgo/content-scope-scripts-owners
features/autofill.json @daxtheduck @duckduckgo/config-aor @GioSensation @duckduckgo/breakage-aor @duckduckgo/breakage @duckduckgo/content-scope-scripts-owners
features/autoconsent.json @daxtheduck @duckduckgo/config-aor @muodov @sammacbeth @duckduckgo/breakage-aor @duckduckgo/breakage @duckduckgo/content-scope-scripts-owners
features/fingerprinting-* @daxtheduck @duckduckgo/config-aor @englehardt @duckduckgo/breakage-aor @duckduckgo/breakage @duckduckgo/content-scope-scripts-owners
features/element-hiding.json @daxtheduck @duckduckgo/config-aor @jonathanKingston @dharb @duckduckgo/breakage-aor @duckduckgo/breakage @duckduckgo/content-scope-scripts-owners
features/click-to-load.json @daxtheduck @duckduckgo/config-aor @kzar @ladamski @duckduckgo/breakage-aor @duckduckgo/breakage @duckduckgo/content-scope-scripts-owners
features/click-to-play.json @daxtheduck @duckduckgo/config-aor @kzar @ladamski @duckduckgo/breakage-aor @duckduckgo/breakage @duckduckgo/content-scope-scripts-owners
features/tracker-allowlist.json @daxtheduck @duckduckgo/config-aor @duckduckgo/breakage-aor @duckduckgo/breakage @duckduckgo/content-scope-scripts-owners
features/incontext-signup.json @daxtheduck @duckduckgo/config-aor @alistairjcbrown @duckduckgo/breakage-aor @duckduckgo/breakage @duckduckgo/content-scope-scripts-owners

# Platform owners
overrides/browsers/ @daxtheduck @duckduckgo/config-aor @duckduckgo/extension-owners @duckduckgo/breakage-aor @duckduckgo/breakage @duckduckgo/content-scope-scripts-owners
overrides/android-override.json @daxtheduck @duckduckgo/config-aor @duckduckgo/android-devs @duckduckgo/breakage-aor @duckduckgo/breakage @duckduckgo/content-scope-scripts-owners
overrides/extension-override.json @daxtheduck @duckduckgo/config-aor @duckduckgo/extension-owners @duckduckgo/breakage-aor @duckduckgo/breakage @duckduckgo/content-scope-scripts-owners
overrides/ios-override.json @daxtheduck @duckduckgo/config-aor @duckduckgo/apple-devs @duckduckgo/breakage-aor @duckduckgo/breakage @duckduckgo/content-scope-scripts-owners
overrides/macos-override.json @daxtheduck @duckduckgo/config-aor @duckduckgo/apple-devs @duckduckgo/breakage-aor @duckduckgo/breakage @duckduckgo/content-scope-scripts-owners
overrides/windows-override.json @daxtheduck @duckduckgo/config-aor @duckduckgo/team-windows-development @duckduckgo/breakage-aor @duckduckgo/breakage @duckduckgo/content-scope-scripts-owners

Add autoconsent to the prettierignore
  .prettierignore
Owners: @duckduckgo/config-aor, @duckduckgo/breakage-aor, @duckduckgo/breakage

Update autoconsent to v14.18.0
  features/autoconsent.json
Owners: @daxtheduck, @duckduckgo/config-aor, @muodov, @sammacbeth, @duckduckgo/breakage-aor, @duckduckgo/breakage, @duckduckgo/content-scope-scripts-owners

Increase Windows test A/A experiment to 100%
  overrides/windows-override.json
Owners: @daxtheduck, @duckduckgo/config-aor, @duckduckgo/team-windows-development, @duckduckgo/breakage-aor, @duckduckgo/breakage, @duckduckgo/content-scope-scripts-owners

Increase Windows test A/A experiment to 100% (#3672)
  overrides/windows-override.json
Owners: @daxtheduck, @duckduckgo/config-aor, @duckduckgo/team-windows-development, @duckduckgo/breakage-aor, @duckduckgo/breakage, @duckduckgo/content-scope-scripts-owners

Add team membership check to PR workflow
  .github/workflows/auto-respond-pr.yml
Owners: @duckduckgo/config-aor, @duckduckgo/breakage-aor, @duckduckgo/breakage

Improve team membership check with fallback repository permission validation
  .github/workflows/auto-respond-pr.yml
Owners: @duckduckgo/config-aor, @duckduckgo/breakage-aor, @duckduckgo/breakage

Simplify PR workflow authorization to repository permission check
  .github/workflows/auto-respond-pr.yml
Owners: @duckduckgo/config-aor, @duckduckgo/breakage-aor, @duckduckgo/breakage

Simplify error message for permission verification failure
  .github/workflows/auto-respond-pr.yml
Owners: @duckduckgo/config-aor, @duckduckgo/breakage-aor, @duckduckgo/breakage

Update autoconsent to v14.18.0 (#3651)
  features/autoconsent.json
Owners: @daxtheduck, @duckduckgo/config-aor, @muodov, @sammacbeth, @duckduckgo/breakage-aor, @duckduckgo/breakage, @duckduckgo/content-scope-scripts-owners

Bump versions
  overrides/android-override.json
Owners: @daxtheduck, @duckduckgo/config-aor, @duckduckgo/android-devs, @duckduckgo/breakage-aor, @duckduckgo/breakage, @duckduckgo/content-scope-scripts-owners

Lint fix
  tests/schema-validation.js
Owners: @duckduckgo/config-aor, @duckduckgo/breakage-aor, @duckduckgo/breakage

Add app short cut override
  overrides/ios-override.json
Owners: @daxtheduck, @duckduckgo/config-aor, @duckduckgo/apple-devs, @duckduckgo/breakage-aor, @duckduckgo/breakage, @duckduckgo/content-scope-scripts-owners

Added percent 100 to defaultBrowserPrompts25.
  overrides/android-override.json
Owners: @daxtheduck, @duckduckgo/config-aor, @duckduckgo/android-devs, @duckduckgo/breakage-aor, @duckduckgo/breakage, @duckduckgo/content-scope-scripts-owners

Added percent 100 to defaultBrowserPrompts25. (#3675)
  overrides/android-override.json
Owners: @daxtheduck, @duckduckgo/config-aor, @duckduckgo/android-devs, @duckduckgo/breakage-aor, @duckduckgo/breakage, @duckduckgo/content-scope-scripts-owners

Disable adsjs always unless the other conditions match
  overrides/android-override.json
Owners: @daxtheduck, @duckduckgo/config-aor, @duckduckgo/android-devs, @duckduckgo/breakage-aor, @duckduckgo/breakage, @duckduckgo/content-scope-scripts-owners

Add app short cut override (#3674)
  overrides/ios-override.json
Owners: @daxtheduck, @duckduckgo/config-aor, @duckduckgo/apple-devs, @duckduckgo/breakage-aor, @duckduckgo/breakage, @duckduckgo/content-scope-scripts-owners

Add remote feature flag for open window by default
  features/open-fire-window-by-default.json
  overrides/macos-override.json
Owners: @daxtheduck, @duckduckgo/config-aor, @duckduckgo/breakage-aor, @duckduckgo/breakage, @duckduckgo/content-scope-scripts-owners, @duckduckgo/apple-devs

Add remote feature flag for open window by default (#3676)
  features/open-fire-window-by-default.json
  overrides/macos-override.json
Owners: @daxtheduck, @duckduckgo/config-aor, @duckduckgo/breakage-aor, @duckduckgo/breakage, @duckduckgo/content-scope-scripts-owners, @duckduckgo/apple-devs
